.work{
    background-color: var(--primary-color);
    display: grid;
    place-items: center;
    padding: 0.5em 2em;
    h1{
        color: var(--secondary-color);
        font-family: 'Proxon';
        padding:1em;
        font-style: italic;
    }
    .video{
        max-width: 600px;
        width: 100%;
        aspect-ratio: 16/9;
    }
}