.team{
    padding:2em;
    background-color: black;
    h1{
        color: var(--secondary-color);
        font-family: 'Proxon';
        font-style: italic;
    }
    .card_container{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
        grid-gap:1em;
        align-items: center;
        @media (max-width:768px) {
             grid-template-columns: 1fr;   
        }
    }
}